*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-blue-1: #1b1938;
  --color-blue-2: #bcbae2;
  --color-green-1: #02630a;
  --color-green-2: #a7faae;
  --color-white-1: #fdfdfd;
  --color-white-2: #e6e6e6;
  --color-black-1: #101010;
  --color-black-2: #5a5a5a;
}


body {
  background-color: var(--color-white-1);
  color: var(--color-black-1) !important;
}

.navbar {
    background-color: var(--color-blue-1) !important;
    color: var(--color-white-1) !important;
}

.navbar-brand, .nav-link, .navbar-toggler {
    color: var(--color-white-1) !important;
}

.navbar-toggler-icon {
filter: invert(1);
}
.form-container {
  font-size: 18px;
  max-width: 800px !important;
  border: 1px solid var(--color-white-2);
  padding: 20px !important;
  border-radius: 10px;
}

#error-msg {
  padding: 8px 10px !important;
  margin-top: 10px;
}

.hidden {
  display: none !important;
}

.details-header {
  /* font-size: 24px !important; */
  color: var(--color-black-2);
}
.details-content {
  font-size: 24px !important;
}

.home-owner-details .col {
  margin: 0 !important;
  padding: 0 !important;
}

.home-owner-details {
  border-radius: 10px;
  padding: 15px;
  border: 1px solid var(--color-white-2);
  margin: 0 1px;
}

.availability-status {
  padding: 3px 8px !important;
  width: fit-content;
  margin-bottom: 0;
  margin-top: 10px;
}